.h3{
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: .2em;
    padding-bottom: .75em;
    margin-top: .5em;
}

.underline {
    composes: h3;
    border-bottom: 3px solid #be2d61;
}