.pin{
    display: inline-block;   
    background: #be2d61;
    padding: .4em 1em;
    border-radius: 1.5em;
    margin-right: .5em;
}

.pinOutline {
    composes: pin;
    border: 2px solid #be2d61;
    background: transparent;
}