.h2{
    display: block;
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: .2em;
    padding-bottom: .1em;
    margin-top: .5em;
    margin-bottom: 1em;
}

.underline {
    composes: h2;
    border-bottom: 4px solid #be2d61;
}